
<!-- Start Footer -->
<div class="max-content-width">
    <div class="footer-links flex-centered">
        <div>
            <div><a href="#">Our Partners</a></div>
            <div><a href="#">Our Supporters</a></div>
            <div><a href="#">Foundation Members</a></div>
            <div><a href="#">Additional Group Features</a></div>
            <div><a href="#">Member Portal and Benefits</a></div>
        </div>
        <div>
            <div><a href="#">New for this Year</a></div>
            <div><a href="#">Privacy Information</a></div>
            <div><a href="#">Changes from Last Year</a></div>
            <div><a href="#">Roadmap and Announcements</a></div>
            <div><a href="#">Disclosures and Regulations</a></div>
        </div>
    </div>
    <div class="social center">
        <a href="#"><img src="images/social-linkedin.png" alt="linkedin" title="linkedin" /></a>
        <a href="#"><img src="images/social-youtube.png"  alt="youtube"  title="youtube"  /></a>
        <a href="#"><img src="images/social-facebook.png" alt="facebook" title="facebook" /></a>
    </div>
    <div class="copyright center">&copy;2023 Copyright Information. All rights reserved.</div>
</div>
<!-- End Footer -->
