<!-- Start Footer Markup -->
<div class="max-content-width">
    <div class="footer-links d-flex flex-column flex-md-row align-items-center justify-content-center gap-2 gap-md-5 text-center text-md-start">
        <div>
            <div class="my-2"><a href="#">Our Partners</a></div>
            <div class="my-2"><a href="#">Our Supporters</a></div>
            <div class="my-2"><a href="#">Foundation Members</a></div>
            <div class="my-2"><a href="#">Additional Group Features</a></div>
            <div class="my-2"><a href="#">Member Portal and Benefits</a></div>
        </div>
        <div>
            <div class="my-2"><a href="#">New for this Year</a></div>
            <div class="my-2"><a href="#">Privacy Information</a></div>
            <div class="my-2"><a href="#">Changes from Last Year</a></div>
            <div class="my-2"><a href="#">Roadmap and Announcements</a></div>
            <div class="my-2"><a href="#">Disclosures and Regulations</a></div>
        </div>
    </div>
    <div class="social text-center my-3">
        <a class="mx-1" href="#"><img src="images/social-linkedin.png" alt="linkedin" title="linkedin" /></a>
        <a class="mx-1" href="#"><img src="images/social-youtube.png"  alt="youtube"  title="youtube"  /></a>
        <a class="mx-1" href="#"><img src="images/social-facebook.png" alt="facebook" title="facebook" /></a>
    </div>
    <div class="copyright text-center my-3">&copy;2023 Copyright Information. All rights reserved.</div>
</div>
<!-- End Footer Markup -->