
/* Smooth scrolling if no preference (for back to top button). */
@media screen and ( prefers-reduced-motion: no-preference )
{
    html
    {
        scroll-behavior: smooth;
    }
}

body
{
    margin: 0;
    color: black;
    display: grid;
    font-size: 18px;
    font-weight: 400;
    line-height: 2rem;
    background: white;
    grid-template-columns: auto 0;
    font-family: Raleway, sans-serif;
}

@media( max-width: 640px )
{
    body
    {
        font-size: 17px;
    }
}

main , header
{
    margin: 0 auto;
    max-width: 990px;
    padding: 3rem 1rem;
}

header
{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-between;
}

@media( max-width: 640px )
{
    header
    {
        flex-direction: column;
    }
}

h1 , h2 , h3 , h4 , .h1 , .h2 , .h3 , .h4
{
    margin: 0;
    font-weight: 300;
}

h1 , .h1 { font-size: 2.0rem; }
h2 , .h2 { font-size: 1.7rem; }
h3 , .h3 { font-size: 1.5rem; }
h4 , .h4 { font-size: 1.3rem; }

section
{
    padding: 3rem 0;
    margin-top: 3rem;
    background: white;
    margin-bottom: 3rem;
    border-top: .35rem dashed #ddd;
}

section:last-child
{
    margin-bottom: 0;
    padding-bottom: 0;
}

img
{
    height: auto;
    max-width: 100%;
}

a
{
    color: #3165bc;
}

nav a
{
    margin-left: 1rem;
}

a.logo-link
{
    text-decoration: none;
}

nav a , a.logo-link , footer a
{
    color: black;
}

p
{
    margin-bottom: 2rem;
}

/* Solid version of top button (no fading in/out).
.top
{
    width: 45px;
    height: 45px;
    bottom: 43px;
    place-self: end;
    position: sticky;
    margin-right: 22px;
    background: #ff8b24;
    border-radius: .28rem;
    margin-top: calc( 100vh + 200px );
    -webkit-box-shadow: 1px 1px 4px 0 rgba( 0 , 0 , 0 , .4 );
            box-shadow: 1px 1px 4px 0 rgba( 0 , 0 , 0 , .4 );
}

.top:before
{
    inset: 30%;
    content: "";
    position: absolute;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    transform: translateY( 20% ) rotate( -45deg );
}
*/


/* Start fading version of top button ( https://www.freecodecamp.org/news/css-only-back-to-top-button ). */
.top
{
    width: 45px;
    height: 45px;
    bottom: 43px;
    position: sticky;
    margin-right: 10px; 
    background: #ff8b24;
    border-radius: .28rem;

    -webkit-box-shadow: 1px 1px 4px 0 rgba( 0 , 0 , 0 , .4 );
            box-shadow: 1px 1px 4px 0 rgba( 0 , 0 , 0 , .4 );
}

.top:before
{
    inset: 30%;
    content: "";
    position: absolute;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    transform: translateY( 20% ) rotate( -45deg );
}

.top-wrapper
{
    --fade:   300px;
    --offset: 200px;

    width: 58px;
    display: flex;
    justify-self: end;
    margin-right: 14px;
    align-items: flex-end;
    justify-content: flex-end;

    -webkit-mask: linear-gradient( #0000 calc( 100vh + var( --offset ) ) , #000 calc( 100vh + var( --offset ) + var( --fade ) ) );
            mask: linear-gradient( #0000 calc( 100vh + var( --offset ) ) , #000 calc( 100vh + var( --offset ) + var( --fade ) ) );
}
/* End fading version of top button ( https://www.freecodecamp.org/news/css-only-back-to-top-button ). */


.short-width-44 { width: 44%; }
.short-width-70 { width: 70%; }

@media( max-width: 860px )
{
    .short-width-44 ,
    .short-width-70
    {
        width: inherit;
    }
}

.logo
{
    max-width: 2.75rem;
}

.center
{
    text-align: center;
}

.work-sample
{
    text-align: left;
    margin-bottom: 3rem;
}

.work-sample:last-child
{
    margin-bottom: 0;
}

.work-sample img
{
    border-radius: .28rem;
    border: 1px solid #d6d6d6;
}

.no-border
{
    border: none !important;
}

footer
{
    background: #ddd;
    text-align: center;
    padding: 2.5rem 2rem 2rem 2rem;
}

footer a
{
    margin: 0 1rem;
    text-decoration: none;
}

footer img
{
    width: auto;
    height: 3rem;
}
