<!-- Start Header -->
<div class="max-content-width">
    <div class="desktop">
        <div class="flex-space-between mb-10">
            <a href="#"><img class="logo" src="images/logo.png" alt="logo" /></a>
            <div class="search">
                <a href="#">Account</a>
                <a href="#">Sign In</a>
                <input type="text" placeholder="Search:" name="q" />
            </div>
        </div>
        <div class="flex-space-between">
            <div class="primary-menu-links">
                <a href="#">Home</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">Our Services</a>
                <a href="#">Our Locations</a>
                <a href="#">For Contractors</a>
            </div>
            <button class="cta-button">CTA Button</button>
        </div>
    </div>
    <div class="mobile">
        <div class="flex-space-between">
            <a href="#"><img class="logo" src="images/logo.png" alt="logo" /></a>
            <div class="mobile-menu-button">Menu</div>
        </div>
        <div class="mobile-menu-content">
            <div class="flex-centered pt-20 mb-20">
                <button class="cta-button">CTA Button</button>
                <div class="search">
                    <input type="text" placeholder="Search:" name="q" />
                </div>
            </div>
            <div class="primary-menu-links center">
                <a href="#">Home</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">Our Services</a>
                <a href="#">Our Locations</a>
                <a href="#">For Contractors</a>
            </div>
        </div>
    </div>
</div>
<!-- End Header -->