<!DOCTYPE html>
<html>
<head>
    <title>Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./styles/website.css" rel="stylesheet" />
</head>

<body>
    <header>
        <header-placeholder>
    </header>

    <main>
        <div class="max-content-width">
            <main-placeholder>
        </div>
    </main>

    <footer>
        <footer-placeholder>
    </footer>

    <script src="./scripts/website.js"></script>
</body>
</html>