@using Sitecore.Mvc
@using Sitecore.XA.Foundation.Grid.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

<header>
    @Html.Sitecore().Placeholder( "header" )
</header>

<main class="container-fluid">
    <div class="max-content-width">
        @Html.Sitecore().Placeholder( "main" )
    </div>
</main>

<footer>
    @Html.Sitecore().Placeholder( "footer" )
</footer>
