
/* Smooth scrolling if no preference (for top button). */
@media screen and ( prefers-reduced-motion: no-preference )
{
    html
    {
        scroll-behavior: smooth;
    }
}

body
{
    margin: 0;
    display: grid;
    color: #1a1a1a;
    font-weight: 400;
    line-height: 2rem;
    background: white;
    grid-template-columns: auto 0;
    will-change: color, background;
    font-family: Raleway, sans-serif;
    transition: color 750ms , background 750ms;
}

.dark body
{
    color: white;
    background: #1a1a1a;
}

.toggle-dark
{
    top: 1px;
    z-index: 100;
    font-size: .85rem;
    margin-left: 2rem;
    position: relative;
    text-decoration: none;
}

.toggle-dark:after
{
    top: 3px;
    left: -14px;
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background: #bbb;
    border-radius: 100%;
}

.dark .toggle-dark:after
{
    background: #0b0;
}

main , header
{
    margin: 0 auto;
    max-width: 990px;
    padding: 3rem 1rem;
}

header
{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-between;
}

@media( max-width: 640px )
{
    main
    {
        padding-bottom: 1.5rem;
    }

    header
    {
        flex-direction: column;
    }

    nav
    {
        margin-top: .35rem;
    }
}

h1 , h2 , h3 , h4 , .h1 , .h2 , .h3 , .h4
{
    margin: 0;
    font-weight: 300;
}

h1 , .h1 { font-size: 2.0rem; }
h2 , .h2 { font-size: 1.7rem; }
h3 , .h3 { font-size: 1.5rem; }
h4 , .h4 { font-size: 1.3rem; }

section
{
    padding: 3rem 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-top: .35rem dashed #ddd;
}

section:last-child
{
    margin-bottom: 0;
    padding-bottom: 0;
}

.dark section
{
    border-color: #555;
}

img
{
    height: auto;
    max-width: 100%;
}

a
{
    color: #3165bc;
}

.dark a
{
    color: #71a5fc;
}

nav a
{
    margin-left: 1rem;
}

@media( max-width: 640px )
{
    nav a:first-child
    {
        margin-left: 0;
    }
}

a.logo-link
{
    text-decoration: none;
}

nav a , a.logo-link
{
    color: black;
}

.dark nav a , .dark a.logo-link
{
    color: white;
}

p
{
    margin-bottom: 2rem;
}

.top
{
    width: 45px;
    height: 45px;
    bottom: 44px;
    position: sticky;
    margin-right: 10px;
    background: #ff8b24;
    border-radius: .28rem;

    -webkit-box-shadow: 1px 1px 4px 0 rgba( 0 , 0 , 0 , .4 );
            box-shadow: 1px 1px 4px 0 rgba( 0 , 0 , 0 , .4 );
}

.top:before
{
    inset: 30%;
    content: "";
    position: absolute;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    transform: translateY( 20% ) rotate( -45deg );
}

.top-wrapper
{
    width: 58px;
    display: flex;
    justify-self: end;
    margin-right: 14px;
    align-items: flex-end;
    justify-content: flex-end;
    
    --fade:   300px;
    --offset: 200px;

    -webkit-mask: linear-gradient( #0000 calc( 100vh + var( --offset ) ) , #000 calc( 100vh + var( --offset ) + var( --fade ) ) );
            mask: linear-gradient( #0000 calc( 100vh + var( --offset ) ) , #000 calc( 100vh + var( --offset ) + var( --fade ) ) );
}

.short-width-44 { width: 44%; }
.short-width-70 { width: 70%; }

@media( max-width: 860px )
{
    .short-width-44 ,
    .short-width-70
    {
        width: inherit;
    }
}

.logo
{
    max-width: 2.75rem;
}

.center
{
    text-align: center;
}

.work-sample
{
    opacity: 0;
    text-align: left;
    margin-bottom: 3rem;
    will-change: opacity;
    transition: opacity 750ms;
}

.work-sample.show
{
    opacity: 1;
}

@media( max-width: 860px )
{
    .work-sample
    {
        margin-bottom: 2rem;
    }
}

@media( max-width: 640px )
{
    .work-sample
    {
        margin-bottom: 1rem;
    }
}

.work-sample:last-child
{
    margin-bottom: 0;
}

.work-sample img
{
    border-radius: .28rem;
    border: 1px solid #d8d8d8;
}

.dark .work-sample img
{
    border-color: #1a1a1a;
}

.no-border
{
    border: none !important;
}

footer
{
    background: #ddd;
    text-align: center;
    padding: 2.5rem 2rem 2rem 2rem;
}

.dark footer
{
    background: #555;
}

footer a
{
    margin: 0 1rem;
    text-decoration: none;
}

footer img
{
    width: auto;
    height: 3rem;
    border-radius: 100%;
    border: 1px solid white;

    -webkit-box-shadow: 1px 1px 4px 0 rgba( 0 , 0 , 0 , .4 );
            box-shadow: 1px 1px 4px 0 rgba( 0 , 0 , 0 , .4 );
}

.dark footer img
{
    will-change: border;
    transition: border 400ms;
    border: 1px solid #888;
}

.dark footer img:hover
{
    border: 1px solid #d1d1d1;
}
